In [62]:
import pandas as pd
import os
import regex as re
import copy

In [68]:
# Read the crop.csv file into a DataFrame
data = pd.read_csv('../data/crop_data/corn.csv')

In [85]:
data.head()

# Create a new empty DataFrame
cleaned_df = pd.DataFrame()

In [100]:
cleaned_df = copy.deepcopy(data)


cleaned_df["PriceIsNan"] = data["PRICE RECEIVED in $ / BU"].apply(lambda x: not bool(re.match(r'^[0-9]', str(x))))
cleaned_df["AreaisNan"] = data["AREA PLANTED in ACRES"].apply(lambda x: not bool(re.match(r'^[0-9]', str(x))))

# Filter rows where "AREA PLANTED in ACRES" is greater than 100,000
# First remove commas from the values and convert to numeric
cleaned_df = data[cleaned_df['AreaisNan'] == False]
cleaned_df["AREA PLANTED in ACRES"] = cleaned_df["AREA PLANTED in ACRES"].str.replace(',', '').astype(int)
cleaned_df = cleaned_df[cleaned_df["AREA PLANTED in ACRES"] > 3000000]

C:\Users\mansu\AppData\Local\Temp\ipykernel_14436\3110129329.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["AREA PLANTED in ACRES"] = cleaned_df["AREA PLANTED in ACRES"].str.replace(',', '').astype(int)

In [106]:
cleaned_df = copy.deepcopy(data)

cleaned_df = data[data['COMMODITY'] == "CORN, GRAIN"]
cleaned_df = cleaned_df.drop(["PRODUCTION in TONS", "COMMODITY", "ASD CODE", "COUNTY ANSI", "AREA PLANTED in ACRES", "YIELD in TONS / ACRE", "STATE ANSI"], axis=1)

In [107]:
cleaned_df.head(50)

,YEAR,LOCATION,REFERENCE PERIOD,AREA HARVESTED in ACRES,PRODUCTION in BU,YIELD in BU / ACRE,PRODUCTION in $,PRICE RECEIVED in $ / BU
1210,2000,ALABAMA,YEAR,"165,000","10,725,000",65,"23,166,000",
1211,2000,ALABAMA,MARKETING YEAR,,,,,2.16
1212,2000,ARIZONA,YEAR,"33,000","6,468,000",196,"17,981,000",
1213,2000,ARIZONA,MARKETING YEAR,,,,,2.78
1214,2000,ARKANSAS,YEAR,"175,000","22,750,000",130,"39,813,000",
1215,2000,ARKANSAS,MARKETING YEAR,,,,,1.75
1216,2000,CALIFORNIA,YEAR,"205,000","34,850,000",170,"85,034,000",
1217,2000,CALIFORNIA,MARKETING YEAR,,,,,2.44
1218,2000,COLORADO,YEAR,"1,150,000","144,900,000",126,"301,392,000",
1219,2000,COLORADO,MARKETING YEAR,,,,,2.08
1220,2000,DELAWARE,YEAR,"155,000","25,110,000",162,"50,471,000",
1221,2000,DELAWARE,MARKETING YEAR,,,,,2.01
1222,2000,FLORIDA,YEAR,"25,000","1,875,000",75,"4,200,000",
1223,2000,FLORIDA,MARKETING YEAR,,,,,2.24
1224,2000,GEORGIA,YEAR,"240,000","25,680,000",107,"52,901,000",
1225,2000,GEORGIA,MARKETING YEAR,,,,,2.06
1226,2000,IDAHO,YEAR,"57,000","9,120,000",160,"23,986,000",
1227,2000,IDAHO,MARKETING YEAR,,,,,2.63
1228,2000,ILLINOIS,YEAR,"11,050,000","1,668,550,000",151,"3,186,931,000",
1229,2000,ILLINOIS,MARKETING YEAR,,,,,1.91
1230,2000,INDIANA,YEAR,"5,550,000","810,300,000",146,"1,539,570,000",
1231,2000,INDIANA,MARKETING YEAR,,,,,1.9
1232,2000,IOWA,YEAR,"12,000,000","1,728,000,000",144,"3,024,000,000",
1233,2000,IOWA,MARKETING YEAR,,,,,1.75
1234,2000,KANSAS,YEAR,"3,170,000","412,100,000",130,"824,200,000",
1235,2000,KANSAS,MARKETING YEAR,,,,,2
1236,2000,KENTUCKY,YEAR,"1,230,000","159,900,000",130,"330,993,000",
1237,2000,KENTUCKY,MARKETING YEAR,,,,,2.07
1238,2000,LOUISIANA,YEAR,"370,000","42,920,000",116,"75,110,000",
1239,2000,LOUISIANA,MARKETING YEAR,,,,,1.75
1240,2000,MARYLAND,YEAR,"405,000","62,775,000",155,"126,178,000",
1241,2000,MARYLAND,MARKETING YEAR,,,,,2.01
1242,2000,MICHIGAN,YEAR,"1,950,000","241,800,000",124,"459,420,000",
1243,2000,MICHIGAN,MARKETING YEAR,,,,,1.9
1244,2000,MINNESOTA,YEAR,"6,650,000","964,250,000",145,"1,648,868,000",
1245,2000,MINNESOTA,MARKETING YEAR,,,,,1.71
1246,2000,MISSISSIPPI,YEAR,"365,000","36,500,000",100,"69,715,000",
1247,2000,MISSISSIPPI,MARKETING YEAR,,,,,1.91
1248,2000,MISSOURI,YEAR,"2,770,000","396,110,000",143,"705,076,000",
1249,2000,MISSOURI,MARKETING YEAR,,,,,1.78
1250,2000,MONTANA,YEAR,"16,000","2,240,000",140,"3,427,000",
1251,2000,MONTANA,MARKETING YEAR,,,,,1.53
1252,2000,NEBRASKA,YEAR,"8,050,000","1,014,300,000",126,"1,927,170,000",
1253,2000,NEBRASKA,MARKETING YEAR,,,,,1.9
1254,2000,NEW JERSEY,YEAR,"75,000","10,050,000",134,"19,799,000",
1255,2000,NEW JERSEY,MARKETING YEAR,,,,,1.97
1256,2000,NEW MEXICO,YEAR,"66,000","10,560,000",160,"26,611,000",
1257,2000,NEW MEXICO,MARKETING YEAR,,,,,2.52
1258,2000,NEW YORK,YEAR,"450,000","44,100,000",98,"103,635,000",
1259,2000,NEW YORK,MARKETING YEAR,,,,,2.35

In [21]:
# Remove rows where isNan is True
cleaned_df = cleaned_df[cleaned_df['isNan'] == False]

In [78]:
cleaned_df.head(50)

,YEAR,LOCATION,STATE ANSI,ASD CODE,COUNTY ANSI,REFERENCE PERIOD,COMMODITY,AREA HARVESTED in ACRES,PRODUCTION in BU,YIELD in BU / ACRE,AREA PLANTED in ACRES,PRODUCTION in $,PRODUCTION in TONS,YIELD in TONS / ACRE,PRICE RECEIVED in $ / BU
0,2000,ALABAMA,01,,,YEAR,CORN,,,,230000.0,,,,
2,2000,ARKANSAS,05,,,YEAR,CORN,,,,180000.0,,,,
3,2000,CALIFORNIA,06,,,YEAR,CORN,,,,540000.0,,,,
4,2000,COLORADO,08,,,YEAR,CORN,,,,1350000.0,,,,
6,2000,DELAWARE,10,,,YEAR,CORN,,,,165000.0,,,,
8,2000,GEORGIA,13,,,YEAR,CORN,,,,360000.0,,,,
9,2000,IDAHO,16,,,YEAR,CORN,,,,195000.0,,,,
10,2000,ILLINOIS,17,,,YEAR,CORN,,,,11200000.0,,,,
11,2000,INDIANA,18,,,YEAR,CORN,,,,5700000.0,,,,
12,2000,IOWA,19,,,YEAR,CORN,,,,12300000.0,,,,
13,2000,KANSAS,20,,,YEAR,CORN,,,,3450000.0,,,,
14,2000,KENTUCKY,21,,,YEAR,CORN,,,,1330000.0,,,,
15,2000,LOUISIANA,22,,,YEAR,CORN,,,,380000.0,,,,
17,2000,MARYLAND,24,,,YEAR,CORN,,,,480000.0,,,,
19,2000,MICHIGAN,26,,,YEAR,CORN,,,,2200000.0,,,,
20,2000,MINNESOTA,27,,,YEAR,CORN,,,,7200000.0,,,,
21,2000,MISSISSIPPI,28,,,YEAR,CORN,,,,390000.0,,,,
22,2000,MISSOURI,29,,,YEAR,CORN,,,,2850000.0,,,,
24,2000,NEBRASKA,31,,,YEAR,CORN,,,,8500000.0,,,,
29,2000,NEW YORK,36,,,YEAR,CORN,,,,980000.0,,,,
30,2000,NORTH CAROLINA,37,,,YEAR,CORN,,,,730000.0,,,,
31,2000,NORTH DAKOTA,38,,,YEAR,CORN,,,,1080000.0,,,,
32,2000,OHIO,39,,,YEAR,CORN,,,,3550000.0,,,,
33,2000,OKLAHOMA,40,,,YEAR,CORN,,,,270000.0,,,,
35,2000,PENNSYLVANIA,42,,,YEAR,CORN,,,,1550000.0,,,,
37,2000,SOUTH CAROLINA,45,,,YEAR,CORN,,,,310000.0,,,,
38,2000,SOUTH DAKOTA,46,,,YEAR,CORN,,,,4300000.0,,,,
39,2000,TENNESSEE,47,,,YEAR,CORN,,,,650000.0,,,,
40,2000,TEXAS,48,,,YEAR,CORN,,,,2100000.0,,,,
43,2000,VIRGINIA,51,,,YEAR,CORN,,,,470000.0,,,,
44,2000,WASHINGTON,53,,,YEAR,CORN,,,,155000.0,,,,
46,2000,WISCONSIN,55,,,YEAR,CORN,,,,3500000.0,,,,
48,2001,ALABAMA,01,,,YEAR,CORN,,,,180000.0,,,,
50,2001,ARKANSAS,05,,,YEAR,CORN,,,,190000.0,,,,
51,2001,CALIFORNIA,06,,,YEAR,CORN,,,,480000.0,,,,
52,2001,COLORADO,08,,,YEAR,CORN,,,,1220000.0,,,,
54,2001,DELAWARE,10,,,YEAR,CORN,,,,170000.0,,,,
56,2001,GEORGIA,13,,,YEAR,CORN,,,,265000.0,,,,
57,2001,IDAHO,16,,,YEAR,CORN,,,,175000.0,,,,
58,2001,ILLINOIS,17,,,YEAR,CORN,,,,11000000.0,,,,
59,2001,INDIANA,18,,,YEAR,CORN,,,,5800000.0,,,,
60,2001,IOWA,19,,,YEAR,CORN,,,,11700000.0,,,,
61,2001,KANSAS,20,,,YEAR,CORN,,,,3450000.0,,,,
62,2001,KENTUCKY,21,,,YEAR,CORN,,,,1200000.0,,,,
63,2001,LOUISIANA,22,,,YEAR,CORN,,,,315000.0,,,,
65,2001,MARYLAND,24,,,YEAR,CORN,,,,490000.0,,,,
67,2001,MICHIGAN,26,,,YEAR,CORN,,,,2200000.0,,,,
68,2001,MINNESOTA,27,,,YEAR,CORN,,,,6800000.0,,,,
69,2001,MISSISSIPPI,28,,,YEAR,CORN,,,,400000.0,,,,
70,2001,MISSOURI,29,,,YEAR,CORN,,,,2700000.0,,,,

In [50]:
del cleaned_df